.btn-light {
    background-color: hsl(161, 57%, 46%) !important;

    background-repeat: repeat-x;

    color: rgb(0, 0, 0) !important;
}

.btn-secondary {
    background-color: #fa8072 !important;

    background-repeat: repeat-x;

    color: rgb(0, 0, 0) !important;
    border-color: rgb(255, 255, 255);
}

.btn-secondary:hover {
    border-color: rgb(255, 255, 255);
}
